* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16pt;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
}

header {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	border-bottom: 1px solid lightgray;
	white-space: nowrap;
	box-shadow: 0 0 10px lightgray;
}

	header div {
		align-items: center;
	}

#logo {
	font-family: 'Courgette', cursive;
	font-size: 32pt;
	color: #3b3b3b;
}

	#logo a:hover {
		cursor: pointer;
		color: #9d0060;
	}

#left-top-menu {
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
}

#right-top-menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: center;
}

.inline {
	display: inline-block;
	padding: 18px;
}

a {
	text-decoration: none;
	color: inherit;
}

	a:hover {
		color: #169d00;
	}

.line-separator {
	border-right: 1px solid lightgray;
	height: 20%;
	margin-left: -36px;
}

main {
	width: 80vw;
	align-self: center;
	border-bottom: 1px solid lightgray;
	flex-grow: 6;
	white-space: normal;
}

footer {
	width: 80vw;
	align-self: center;
	flex-grow: 1;
}

#short-info {
	border-bottom: 1px solid lightgray;
}

.big-project-image {
	width: 45%;
}

	.big-project-image img {
		width: 100%;
		height: 340px;
		object-fit: cover;
	}

.short-description {
	width: 48%;
	vertical-align: top;
}

.project-owner-image img {
	border-radius: 50%;
	width: 64px;
	height: 64px;
	object-fit: cover;
}

.project-owner {
	display: flex;
	width: 100%;
}

.project-owner-info {
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.project-owner-short-info {
	font-size: 12pt;
	padding-bottom: 10px;
}

.project-owner-name {
}

.funding {
	padding-bottom: 20px;
}

.funding-values {
	display: flex;
	justify-content: space-between;
}

.funding-bar-empty {
	background-color: #6b6b6b;
	height: 10px;
	border-radius: 5px;
}

.funding-bar-full {
	background-color: #00c34d;
	height: 100%;
	border-radius: inherit;
}

.funding-values-max {
	font-size: 12pt;
}

.supp-button a {
	user-select: none;
	padding: 15px;
	border: 2px solid #00c34d;
	border-radius: 4px;
}

	.supp-button a:hover {
		cursor: pointer;
		color: white;
		background-color: #00c34d;
	}

	.supp-button a:active {
		cursor: pointer;
		color: white;
		background-color: #00a649;
	}

#detail-info {
	padding: 18px;
	width: 100%;
}

	#detail-info a {
		display: inline-block;
		user-select: none;
		padding: 15px;
		border: 2px solid #00c34d;
		border-radius: 4px;
	}

		#detail-info a:hover {
			cursor: pointer;
			color: white;
			background-color: #00c34d;
		}

		#detail-info a:active {
			cursor: pointer;
			color: white;
			background-color: #00a649;
		}
