
@{
    ViewData["Title"] = "Home Page";
}

<div class="inline">
    <p>we are an organization whose goal is the dissemination of ideas, the search for like-minded people, the search for money to translate our ideas into reality</p>
</div>
