
@{
    ViewData["Title"] = "Home Page";
}
@{  for (int i = 0; i < ViewBag.Proj.Count; i++)
    {
        <p>@ViewBag.Proj[i].Name</p>
    }
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
