<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/index.css">
    <link rel="stylesheet" type="text/css" href="~/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=1200">
</head>
<body>
    <header>
        <div id="left-top-menu">
            <div class="inline" id="logo"><a asp-action="Index" asp-controller="Home"><strong>ProjectBaker</strong></a></div>
            <div class="inline"><a href="#">What We Do</a></div>
            <div class="inline"><a href="#">About Us</a></div>
        </div>
        <div id="right-top-menu">
            <div class="inline"><a href="">Best ideas</a></div>
            <div class="inline"><a href="">Find work</a></div>
            <div class="inline"><a href="">Run new project</a></div>
            <div class="inline line-separator"></div>
            <div class="inline">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Manage" asp-controller="ProjectHome">@User.Identity.Name</a>
                        <a asp-action="Logout" asp-controller="Account">Log out</a>
                    }
                    else
                    {
                        <a asp-action="Login" asp-controller="Account">Log in</a>
                    }
                }
            </div>
        </div>
    </header>

    <main>
       @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="inline">
            &copy ProjectBaker @DateTime.Today.Year 
        </div>
    </footer>
</body>
</html>