@{
    ViewData["Title"] = ViewBag.ProjectName;
}

<div id="short-info">
    <div class="inline big-project-image">
        <img src="~/img/proj1.jpg" alt="project">
    </div>

    <div class="inline short-description">
        <div><h1>Example project</h1></div>

        <div><p>This is a short description of your project or company. Also good idea to put your tagline here. </p></div>

        <div class="project-owner inline">
            <div class="project-owner-image">
                <img src="~/img/user1.jpg" alt="user">
            </div>
            <div class="project-owner-info">
                <div class="project-owner-name"><p><strong>Project owner</strong></p></div>
                <div class="project-owner-short-info"><p>1 project | Kharkiv</p></div>
            </div>
        </div>

        <div class="funding">
            <div class="funding-values">
                <p><strong>$35</strong></p>
                <p>1 baker</p>
            </div>
            <div class="funding-bar-empty">
                <div class="funding-bar-full" style="width: 35%"></div>
            </div>
            <div class="funding-values-max">
                <p>35% of $100</p>
            </div>
        </div>

        <div class="supp-button">
            <a>FOLLOW</a>
            <a>DONATE</a>
        </div>

    </div>
</div>
<div id="detail-info">
    <a>Update</a>
    <p>Here is the full information about your project</p>
</div>
<div id="project-comment-section">
</div>