@model ProjectBaker.Web.ViewModels.RegisterViewModel
@{ 
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <label asp-for="Email">Email<br><input type="email" placeholder="Email" asp-for="Email"><br></label>
    <label asp-for="FirstName">First name<br><input type="text" placeholder="First name" asp-for="FirstName"><br></label>
    <label asp-for="LastName">Last name<br><input type="text" placeholder="Last name" asp-for="LastName"><br></label>
    <label asp-for="Age">Age<br><input type="number" min="14" max="200" placeholder="Age" asp-for="Age"><br></label>
    <label asp-for="Country">Country<br><input type="text" placeholder="Country" asp-for="Country"><br></label>
    <label asp-for="Password">Password<br><input type="password" placeholder="Password" asp-for="Password"><br></label>
    <label asp-for="ConfirmPassword">Confirm password<br><input type="password" placeholder="Confirm password" asp-for="ConfirmPassword"><br></label>
    <input class="submit" type="submit" value="Create">
</form>